<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Categories</title>
    <!-- 나머지 head 요소 -->
</head>
<body>
    <div>
        <h1>카테고리</h1>
        {% for category, image_url in categories_info.items() %}
        <div>
            <h2>{{ category }}</h2>
            <img src="{{ image_url }}" alt="{{ category }}" style="width: 100px;">
            <!-- 다운로드 버튼 추가 -->
            <button onclick="downloadCategory('{{ category }}')">Download {{ category }}</button>
        </div>
        {% endfor %}
    </div>
    <script>
        function downloadCategory(categoryName) {
            window.location.href = `/download/${categoryName}`;
        }
    </script>
</body>
</html>
